
@using RentARoom.Common
@model RentARoom.Web.ViewModels.Hotels.SingleHotelViewModel;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/js/maxheight.js"></script>
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="brown-background" id="page1" onload="new ElementMaxHeight();">
    <div id="main">
        <div id="header">
            <div class="row-2">
                <div class="indent">
                    <!-- header-box begin -->
                    <div class="header-box">
                        <img class="custom-image" src="@Model.ImageUrl" alt="@Model.Name" />
                        <div class="inner">
                            <ul class="nav">
                                <li><a href="index.html" class="current">Home page</a></li>
                                <li><a asp-action="Images" asp-route-id="@Model.Id">Gallery</a></li>
                                <li><a asp-controller="Reservation" asp-action="New" asp-route-id="@Model.Id">Booking</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- header-box end -->
                </div>
            </div>

        </div>
        <div id="content">
            <div class="wrapper">
                <div class="aside maxheight">
                    <!-- box begin -->
                    <div class="box maxheight">
                        <div class="inner">
                          
                        </div>
                    </div>
                    <!-- box end -->
                </div>
                <div class="content">
                    <div class="indent">
                        <h2>@Model.Name is happy to welcome you!</h2>
                        <img class="img-indent png" alt="" src="images/1page-img1.png" />
                        <p class="alt-top">@Model.Description</p>
                        Feel free to contact us anytime in case you have any questions or concerns.
                        <div class="clear"></div>
                        <div class="line-hor"></div>
                        <div class="wrapper line-ver">
                            <div class="col-1">
                                <h3>Special Offers</h3>
                                <ul>
                                    @foreach (var service in Model.Services)
                                    {
                                        <li>
                                            @service.ServiceName
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="col-2">
                                <h3>Location</h3>
                                <p>We are located in the @Model.Town</p>
                                <dl class="contacts-list">
                                    <dt>@Model.Address</dt>
                                </dl>
                            </div>
                            <div class="rating">
                                <ul class="item-rating">
                                    <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                                    <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                                    <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                                    <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                                    <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                                    <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                                </ul>
                            </div>
                            <div>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <a asp-controller="Booking" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                                    <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                                    </form>
                                    <button type="submit" class="btn btn-danger" value="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @*footer*@
    <script src="~/js/maxheight.js"></script>
    <form method="post" id="antiForgeryForm"></form>
    @section Scripts {
        <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var hotelId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { hotelId: hotelId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
        </script>
    }
</body>

</html>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete @Model.Name?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>